<% include ./partials/header %>
<h1>Sign up</h1>

<form action ="/register" method ="POST">
    <labe>username</labe>
    <input type = text name ="username">
    <br>
    <label>password</labe>
    <input type = "password" name ="password"> 
    <br>
    <labe>Submit</labe>
    <input type = "submit">
</form>

<% include ./partials/footer %>
